<div class="main-container">
    <div class="main">
        <div class="top">
            <h1>Sign Up</h1>
            <p>Want to sign up? Fill this form!</p>
        </div>
        <form class="reg-form" action="">
            <label for="username">Username: <i class="fas fa-exclamation-circle">
                    <div class="message">Please insert valid username!</div>
                </i>
            </label>
            <input type="text" id="username" name="username">
            <label for="password">Password: <i class="fas fa-exclamation-circle">
                    <div class="message">Password must be at least 6 characters long!</div>
                </i>
            </label>
            <input type="password" id="password" name="password">
            <label for="repeatPass">Repeat your password: <i class="fas fa-exclamation-circle">
                    <div class="message">Password must match!</div>
                </i>
            </label>
            <button>Sign Up</button>
        </form>
    </div>
</div>