<header>
    <div class="header-one">
        <div class="img-container">
            <img src="https://cdn0.iconfinder.com/data/icons/thin-photography/57/thin-363_photo_image_album-512.png" alt="">
        </div>
        <h1>Gallery Online</h1>
    </div>
    <nav>
        <ul *ngIf="!isLogged">
            <li><a href="#">Home page</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" (click)="loginHandler()">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>

        <ul *ngIf="isLogged">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Add new image</a></li>
            <li><a href="#">My gallery</a></li>
            <li><a href="#" (click)="logoutHandler()">Log out</a></li>
        </ul>
    </nav>
</header>


<!-- TO DO: use the log in and log out handlers to show different items depending of the status of the user -->
<!-- the boolean name is isLogged; combine with *ngIf -->