<footer>
    <small>All rights reserved.©</small>
    <small>This site is created for educational purposes only and can be used without the permission of the
        creator.</small>

    <small>Find me at:
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </small>
</footer>