<div class="main-container">
    <div class="gallery">
        <h1>My collection of images</h1>
        <div class="images-container">
            <div class="image">
                <img src="https://cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg" alt="">
                <div class="details-container">
                    <p class="createdAt">Created at: <span>12.02.2020</span></p>
                    <p class="tags">Tags: <span>Tag</span><span>Tag</span><span>Tag</span></p>
                </div>
                <div class="circle">
                    <a routerLink="/myGallery/myImage"><i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>