<div class="main-container">
    <div class="picture-info-container">
        <div class="img-container">
            <img src="https://images.unsplash.com/photo-1578185708140-55c94bb9426f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                alt="">
        </div>
        <div class="picture-details">
            <div class="someth-container">
                <p class="likes">Likes: <span>10</span></p>
                <p class="createdBy">Created by: <span>Dido</span></p>
                <p class="createdAt">Created at: <span>12.02.2020</span></p>
            </div>
            <p>Description: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident molestias officiis
                    esse, repellendus quam quidem amet nulla nesciunt quo eum, magnam aut vitae facere error numquam.
                    Optio iusto corrupti molestias? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora,
                    exercitationem commodi obcaecati sed iure blanditiis libero consectetur, accusantium rerum ducimus
                    laudantium deserunt corporis odit dolorum! Eveniet iure modi in aliquid!</span></p>
            <p>Tags: <span>some tag</span><span>some tag</span><span>some tag</span><span>some tag</span></p>
            <div class="picture-controls">
                <p>Picture Controls:</p>
                <!-- like is only for other users -->
                <button class="bttn">Like</button>
                <button class="bttn">Edit</button>
                <button class="bttn">Delete</button>
            </div>
        </div>
    </div>

</div>